<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <button id="click">Find a Tweet!</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $('#click').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/data',
                    success: function (response) {
                        alert(response);
                    }
                });
            });
        </script>

    </body>
</html>
